h1 {
    color: blue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color: orange;
    text-align: center;
}
body{
    margin: 12px;
    border: 2px solid green;
    padding: 4px;

    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.swell  {
    background-color: aquamarine;
}

.list {
    background-color: cadetblue;
   
}